<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="nav__logo">LOGO</h1>
            <div>
                <ul class="nav__lista">
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./Productos.html">Productos</a></li>
                    <li><a href="./Nosotros.html">Nosotros</a></li>
                    <li><a href="./Contacto.html">Contacto</a></li>
                    <li><a href="./Ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <h2 class="nav__buscador">Buscador</h2>
        </nav>
    </header>

    <main>
        <div class="contacto">
           <ul>
               <li>LOGO IG</li>
               <li>LOGO FACEBOOK</li>
               <li>LOGO WHATSAPP</li>
               <li>LOGO TWITTER</li>
               <li>LOGO LINKEDIN</li>
           </ul>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolorum non impedit temporibus, accusamus magni?</p>
           <img src="https://depor.com/resizer/tWkgaFkRSfQvJrxQJP3zxVe35K4=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/DOSTJYG5PVBK3ELX3UXALXJYPQ.jpg" alt="">
        </div>
    </main>

    <footer>
        <p>Numero telefonico - Direccion del local - eMail - Creador de la pagina - Reportar un problema</p>
    </footer>
</body>
</html>